[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/plankified-univ3"]
	path = lib/plankified-univ3
	url = https://github.com/plankevm/plankified-univ3
[submodule "lib/bunni-v2"]
	path = lib/bunni-v2
	url = https://github.com/Bunniapp/bunni-v2
	[submodule "lib/plank-foundry-deployer"]
	path = lib/plank-foundry-deployer
	url = https://github.com/plankevm/plank-foundry-deployer
	branch = main
[submodule "lib/panoptic-v2-core"]
	path = lib/panoptic-v2-core
	url = https://github.com/panoptic-labs/panoptic-v2-core
[submodule "lib/protocol"]
	path = lib/protocol
	url = https://github.com/centrifuge/protocol
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/uniswap/v3-core
	branch = 0.8
[submodule "lib/plank-monorepo"]
	path = lib/plank-monorepo
	url = https://github.com/plankevm/plank-monorepo
	branch = main
[submodule "offchain"]
	path = offchain
	url = https://github.com/d2p-finance/gams-evm-transport.git
[submodule "spec"]
	path = spec
	url = https://github.com/d2p-finance/cfmm-vol-markets-spec.git
[submodule "refs"]
	path = refs
	url = https://github.com/d2p-finance/cfmm-refs.git
[submodule "evm-spec-bridge"]
	path = evm-spec-bridge
	url = https://github.com/d2p-finance/evm-spec-bridge.git
[submodule "lib/cfmm-types"]
	path = lib/cfmm-types
	url = https://github.com/JMSBPP/cfmm-types.git
	branch = develop
[submodule "lib/seaport"]
	path = lib/seaport
	url = https://github.com/ProjectOpenSea/seaport
